body {
  font-family: "NanumSquare", sans-serif;
  font-weight: 800;
}
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  animation: fadeIn 1.5s linear;
}
